*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my-image{
  height: 20%;
  width: 30%;
  border-radius: 100%;
  border: 20px;
  border-color: blue;

}

.all{
  gap: 40px;
  color: white;
}
.aside{
  gap: 50px;
  margin: 20px;
  justify-content: space-between;
  row-gap: 30px;
  font-style: italic;
  font-weight: ;
}
.ola{
  text-decoration: none;
  list-style-type: none;

}
.lan{
  list-style-type: none;
}
.hobby{
  list-style-type:none;
}

.header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: brown;
}

.main{
  text-align: center;
  background-color: white;
  margin-left: -200px;
}

.ope{
  list-style-type: none;
}
