#box-model{
    background-color: red;
    color:wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    padding: 20px;
    border-radius: 20px;
    position: sticky;
    font-weight: bolder;
}

#box-model ul{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
}


.fixed{
    position: fixed;
    right: 50px;
    bottom: 20px;
    color: white;
    background-color: blue;
    padding: 30px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 100%;
    transform: ease-in-out 2s;
}

@media (max-width:768px){
    li{
        display: none;

    } 

    h1{
    color: green;  
    transition: ease-in-out .2s;
    }

    h1:hover {
        background-color: white;;ka`    
        transform: scale(2.1);
    }
}
    

